Repository ankur46/angular-vsblend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write, tsc-files --noEmit

fix(code): change main project name to vsblend
  angular.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/app.config.server.ts
  src/app/core/app.config.ts
  src/app/core/app.routes.ts
  src/app/layout/layout/layout.component.html
  src/app/layout/layout/layout.component.scss
  src/app/layout/layout/layout.component.spec.ts
  src/app/layout/layout/layout.component.ts
  src/index.html
  src/main.server.ts
  src/main.ts
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

refactor: added initial configuration
  .eslintrc.json
  .vscode/settings.json
  angular.json
  package-lock.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/core/app.routes.ts
  src/app/layout/layout/layout.component.html
  src/app/layout/layout/layout.component.scss
  src/app/layout/layout/layout.component.ts
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/file-name-panel/file-name-panel.component.scss
  src/app/modules/file-name-panel/file-name-panel.component.spec.ts
  src/app/modules/file-name-panel/file-name-panel.component.ts
  src/app/modules/icon-panel/icon-panel.component.html
  src/app/modules/icon-panel/icon-panel.component.scss
  src/app/modules/icon-panel/icon-panel.component.spec.ts
  src/app/modules/icon-panel/icon-panel.component.ts
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.scss
  src/app/modules/main-view/main-view.component.spec.ts
  src/app/modules/main-view/main-view.component.ts
  src/app/modules/terminal/terminal.component.html
  src/app/modules/terminal/terminal.component.scss
  src/app/modules/terminal/terminal.component.spec.ts
  src/app/modules/terminal/terminal.component.ts
  src/app/modules/top-search/top-search.component.html
  src/app/modules/top-search/top-search.component.scss
  src/app/modules/top-search/top-search.component.spec.ts
  src/app/modules/top-search/top-search.component.ts
  src/assets/vscode-icons/debugger.svg
  src/assets/vscode-icons/extension.svg
  src/assets/vscode-icons/gitmerger.svg
  src/styles.scss
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

refactor: updated husky pre-push
  .husky/pre-push
Due: none

feat: added icons with selection
  src/app/core/app.config.server.ts
  src/app/layout/layout/component.const.ts
  src/app/layout/layout/layout.component.html
  src/app/layout/layout/layout.component.ts
  src/app/modules/icon-panel/icon-panel.component.html
  src/app/modules/icon-panel/icon-panel.component.scss
  src/app/modules/icon-panel/icon-panel.component.ts
  src/app/modules/icon-panel/icon-panel.service.ts
  src/app/shared/app.const.ts
  src/assets/vscode-icons/account.svg
  src/assets/vscode-icons/parentfiles.svg
  src/assets/vscode-icons/search.svg
  src/assets/vscode-icons/settings.svg
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added file panel module
  .eslintrc.json
  src/app/core/app.config.server.ts
  src/app/core/app.config.ts
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/file-name-panel/file-name-panel.component.ts
  src/app/modules/icon-panel/icon-panel.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/app/shared/directives/ngsrc.directive.ts
  src/app/shared/trackClass.ts
  src/assets/file-icons/language-html5.svg
  src/file-icon.scss
  src/styles.scss
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added search-panel layout
  src/app/layout/layout/layout.component.html
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/icon-panel/icon-panel.service.ts
  src/app/modules/top-search/top-search.component.html
  src/app/modules/top-search/top-search.component.scss
  src/app/modules/top-search/top-search.component.ts
  src/app/shared/app.const.ts
  src/assets/vscode-icons/arrowleft.svg
  src/assets/vscode-icons/arrowright.svg
  src/assets/vscode-icons/layout.svg
  src/assets/vscode-icons/layoutpanel.svg
  src/assets/vscode-icons/sidebarleft.svg
  src/assets/vscode-icons/sidebarright.svg
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added main menu layout
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/theme.scss
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added terminal layout
  src/app/layout/layout/layout.component.html
  src/app/modules/terminal/terminal.component.html
  src/app/modules/terminal/terminal.component.ts
  src/app/shared/app.const.ts
  src/assets/vscode-icons/add.svg
  src/assets/vscode-icons/chevronup.svg
  src/assets/vscode-icons/close.svg
  src/assets/vscode-icons/ellipsis.svg
  src/assets/vscode-icons/terminal.svg
  src/styles.scss
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added running terminal section
  src/app/modules/terminal/terminal.component.html
  src/theme.scss
Due: eslint, stylelint, prettier --write

feat: added introduction module
  src/app/ankurDeshwal/introduction/introduction.component.html
  src/app/ankurDeshwal/introduction/introduction.component.scss
  src/app/ankurDeshwal/introduction/introduction.component.spec.ts
  src/app/ankurDeshwal/introduction/introduction.component.ts
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/modules/terminal/terminal.component.html
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/assets/other-images/displayPicture.png
  src/theme.scss
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added techStack module
  src/app/ankurDeshwal/techstack/techstack.component.html
  src/app/ankurDeshwal/techstack/techstack.component.scss
  src/app/ankurDeshwal/techstack/techstack.component.spec.ts
  src/app/ankurDeshwal/techstack/techstack.component.ts
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/assets/other-images/angular.jpeg
  src/assets/other-images/angularMaterial.png
  src/assets/other-images/auth0.png
  src/assets/other-images/chartJs.png
  src/assets/other-images/docker.png
  src/assets/other-images/fullCalendar.png
  src/assets/other-images/github.png
  src/assets/other-images/googleMaps.jpg
  src/assets/other-images/googleSheets.png
  src/assets/other-images/htmlCss.png
  src/assets/other-images/javascript.png
  src/assets/other-images/jenkin.png
  src/assets/other-images/jest.png
  src/assets/other-images/jira.jpeg
  src/assets/other-images/json.png
  src/assets/other-images/karma.png
  src/assets/other-images/konva.png
  src/assets/other-images/kubernetes.png
  src/assets/other-images/node.png
  src/assets/other-images/postman.png
  src/assets/other-images/puppeteer.png
  src/assets/other-images/sass.png
  src/assets/other-images/screwdriver.png
  src/assets/other-images/tailwindCss.png
  src/assets/other-images/typescript.png
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

refactor: fixed some bugs in all components
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/main-view/main-view.component.html
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/assets/file-icons/htmlFile.svg
  src/assets/file-icons/language-html5.svg
  src/assets/file-icons/typescriptFile.svg
Due: eslint, prettier --write, tsc-files --noEmit

feat: added employment module
  src/app/ankurDeshwal/employment/employment.component.html
  src/app/ankurDeshwal/employment/employment.component.scss
  src/app/ankurDeshwal/employment/employment.component.spec.ts
  src/app/ankurDeshwal/employment/employment.component.ts
  src/app/layout/layout/layout.component.html
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/assets/other-images/bnyMellon.png
  src/assets/other-images/coditas.jpg
  src/assets/other-images/persistent.png
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

refactor: changed variable name
  src/app/ankurDeshwal/employment/employment.component.html
Due: eslint, prettier --write

feat: added contact module
  src/app/ankurDeshwal/contact-links/contact-links.component.html
  src/app/ankurDeshwal/contact-links/contact-links.component.scss
  src/app/ankurDeshwal/contact-links/contact-links.component.spec.ts
  src/app/ankurDeshwal/contact-links/contact-links.component.ts
  src/app/ankurDeshwal/employment/employment.component.html
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/assets/file-icons/jsonFile.svg
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added accomplishment module
  src/app/ankurDeshwal/accomplishment/accomplishment.component.html
  src/app/ankurDeshwal/accomplishment/accomplishment.component.scss
  src/app/ankurDeshwal/accomplishment/accomplishment.component.spec.ts
  src/app/ankurDeshwal/accomplishment/accomplishment.component.ts
  src/app/ankurDeshwal/employment/employment.component.html
  src/app/layout/layout/layout.component.html
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/icon-panel/icon-panel.component.html
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/assets/certificates/angularLeadCertification.png
  src/assets/certificates/googleCloudCertification.png
  src/assets/certificates/mediaAutomationCertification.png
  src/assets/certificates/mpushCertification.jpg
  src/assets/certificates/pnrCertification.jpg
  src/assets/certificates/qaToolCertification.jpg
  src/assets/certificates/topTalentCertification.png
  src/assets/certificates/upWorkCertification.png
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added personal detail module
  src/app/ankurDeshwal/personal-details/personal-details.component.html
  src/app/ankurDeshwal/personal-details/personal-details.component.scss
  src/app/ankurDeshwal/personal-details/personal-details.component.spec.ts
  src/app/ankurDeshwal/personal-details/personal-details.component.ts
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/app/shared/directives/EscapeHtmlPipe.directive.ts
  src/theme.scss
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added project module
  src/app/ankurDeshwal/projects/projects.component.html
  src/app/ankurDeshwal/projects/projects.component.scss
  src/app/ankurDeshwal/projects/projects.component.spec.ts
  src/app/ankurDeshwal/projects/projects.component.ts
  src/app/layout/layout/layout.component.html
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/assets/file-icons/angularFile.svg
  src/assets/other-images/projects/AutomationValidation.png
  src/assets/other-images/projects/CalendarCodeBase.png
  src/assets/other-images/projects/DynamicDashboard.png
  src/assets/other-images/projects/PaintToolCode.png
  src/assets/other-images/projects/activityLogger.png
  src/assets/other-images/projects/activityLoggerCode.png
  src/assets/other-images/projects/authorizationCode.png
  src/assets/other-images/projects/authorizationUI.png
  src/assets/other-images/projects/automationValidationCode.png
  src/assets/other-images/projects/calendarView.png
  src/assets/other-images/projects/dashboardCode.png
  src/assets/other-images/projects/dashboardUI.png
  src/assets/other-images/projects/dynamicDashboardCode.png
  src/assets/other-images/projects/dynamicFormBuilderHTML.png
  src/assets/other-images/projects/dynamicFormBuilderInterface.png
  src/assets/other-images/projects/dynamicFormBuilderTS.png
  src/assets/other-images/projects/dynamicSVG.png
  src/assets/other-images/projects/dynamicSVGCode.png
  src/assets/other-images/projects/googleSheet.png
  src/assets/other-images/projects/googleSheetCode.png
  src/assets/other-images/projects/jsonToTemplateCode.png
  src/assets/other-images/projects/jsonToTemplateUI.png
  src/assets/other-images/projects/paintUI.png
  src/assets/other-images/projects/pushPreviewAndSchedulingCode.png
  src/assets/other-images/projects/pushPreviewAndSchedulingUI.png
  src/assets/other-images/projects/resumeBuilderCode.png
  src/assets/other-images/projects/resumeBuilderUI.png
  src/assets/other-images/projects/sqlBuilderCode.png
  src/assets/other-images/projects/sqlBuilderUI.png
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

refactor: modified introduction html
  src/app/ankurDeshwal/introduction/introduction.component.html
  src/app/modules/main-view/main-view.component.html
Due: eslint, prettier --write

refactor: added navigation
  .eslintignore
  .eslintrc.json
  src/app/ankurDeshwal/introduction/introduction.component.html
  src/app/ankurDeshwal/projects/projects.component.html
  src/app/ankurDeshwal/projects/projects.component.ts
  src/app/layout/layout/layout.component.ts
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/file-name-panel/file-name-panel.component.ts
  src/app/modules/icon-panel/icon-panel.component.ts
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/modules/terminal/terminal.component.html
  src/app/modules/top-search/top-search.component.html
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/app/shared/componentImports/layout-component.const.ts
  src/app/shared/componentImports/profile-component.const.ts
  src/app/shared/navigation.service.ts
  src/theme.scss
  tsconfig.app.json
  tsconfig.spec.json
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

refactor: updated techstack and contact html
  src/app/ankurDeshwal/contact-links/contact-links.component.html
  src/app/ankurDeshwal/techstack/techstack.component.html
Due: eslint, prettier --write

refactor: updated introduction html
  src/app/ankurDeshwal/introduction/introduction.component.html
Due: eslint, prettier --write

fix: added some navigation fixes
  src/app/modules/file-name-panel/debugger/debugger.component.html
  src/app/modules/file-name-panel/debugger/debugger.component.scss
  src/app/modules/file-name-panel/debugger/debugger.component.spec.ts
  src/app/modules/file-name-panel/debugger/debugger.component.ts
  src/app/modules/file-name-panel/extensions/extensions.component.html
  src/app/modules/file-name-panel/extensions/extensions.component.scss
  src/app/modules/file-name-panel/extensions/extensions.component.spec.ts
  src/app/modules/file-name-panel/extensions/extensions.component.ts
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/file-name-panel/file-name-panel.component.ts
  src/app/modules/file-name-panel/file/file.component.html
  src/app/modules/file-name-panel/file/file.component.scss
  src/app/modules/file-name-panel/file/file.component.spec.ts
  src/app/modules/file-name-panel/file/file.component.ts
  src/app/modules/file-name-panel/git/git.component.html
  src/app/modules/file-name-panel/git/git.component.scss
  src/app/modules/file-name-panel/git/git.component.spec.ts
  src/app/modules/file-name-panel/git/git.component.ts
  src/app/modules/file-name-panel/search/search.component.html
  src/app/modules/file-name-panel/search/search.component.scss
  src/app/modules/file-name-panel/search/search.component.spec.ts
  src/app/modules/file-name-panel/search/search.component.ts
  src/app/modules/icon-panel/icon-panel.component.html
  src/app/modules/icon-panel/icon-panel.component.ts
  src/app/modules/main-view/main-view.component.html
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/componentImports/profile-component.const.ts
  src/app/shared/directives/dynamicComponent.directive.ts
  src/app/shared/services/navigation.service.ts
  src/app/shared/services/shared.service.ts
Due: eslint, stylelint, prettier --write, tsc-files --noEmit

feat: added icon panel navigation
  src/app/layout/layout/layout.component.html
  src/app/layout/layout/layout.component.ts
  src/app/modules/file-name-panel/file-name-panel.component.html
  src/app/modules/file-name-panel/file-name-panel.component.ts
  src/app/modules/icon-panel/icon-panel.component.html
  src/app/modules/icon-panel/icon-panel.component.ts
  src/app/modules/icon-panel/icon-panel.service.ts
  src/app/modules/main-view/main-view.component.ts
  src/app/shared/app.const.ts
  src/app/shared/app.interface.ts
  src/app/shared/componentImports/file-panel-component.const.ts
  src/app/shared/services/shared.service.ts
Due: eslint, prettier --write, tsc-files --noEmit

feat: added UI for git and debugger component
  src/app/modules/file-name-panel/debugger/debugger.component.html
  src/app/modules/file-name-panel/git/git.component.html
  src/app/modules/file-name-panel/git/git.component.ts
  src/app/shared/services/shared.service.ts
  src/assets/vscode-icons/githubLogo.svg
Due: eslint, prettier --write, tsc-files --noEmit

feat: added UI for file base components
  src/app/modules/file-name-panel/extensions/extensions.component.html
  src/app/modules/file-name-panel/extensions/extensions.component.ts
  src/app/modules/file-name-panel/search/search.component.html
  src/app/modules/file-name-panel/search/search.component.ts
  src/app/shared/app.const.ts
  src/assets/vscode-icons/matchCase.svg
  src/assets/vscode-icons/matchWord.svg
Due: eslint, prettier --write, tsc-files --noEmit

refactor: added logic on introduction component
  src/app/ankurDeshwal/introduction/introduction.component.html
  src/app/ankurDeshwal/introduction/introduction.component.ts
  src/app/modules/file-name-panel/file/file.component.ts
Due: eslint, prettier --write, tsc-files --noEmit

fix: fixed selectedIndex issue
  src/app/ankurDeshwal/introduction/introduction.component.ts
  src/app/modules/file-name-panel/file/file.component.html
  src/app/modules/main-view/main-view.component.html
  src/app/shared/services/navigation.service.ts
Due: eslint, prettier --write, tsc-files --noEmit

refactor: updated UX for few components
  src/app/ankurDeshwal/accomplishment/accomplishment.component.html
  src/app/ankurDeshwal/employment/employment.component.html
  src/app/ankurDeshwal/personal-details/personal-details.component.html
Due: eslint, prettier --write

fix: added fix for view layout and terminal
  src/app/ankurDeshwal/accomplishment/accomplishment.component.html
  src/app/ankurDeshwal/contact-links/contact-links.component.html
  src/app/ankurDeshwal/employment/employment.component.html
  src/app/ankurDeshwal/introduction/introduction.component.html
  src/app/ankurDeshwal/personal-details/personal-details.component.html
  src/app/ankurDeshwal/projects/projects.component.html
  src/app/ankurDeshwal/techstack/techstack.component.html
  src/app/layout/layout/layout.component.html
  src/app/modules/terminal/terminal.component.html
  src/app/modules/terminal/terminal.component.ts
  src/app/shared/app.const.ts
Due: eslint, prettier --write, tsc-files --noEmit

feat: added todo section in intro
  src/app/ankurDeshwal/introduction/introduction.component.html
  src/app/ankurDeshwal/introduction/introduction.component.ts
  src/app/ankurDeshwal/projects/projects.component.html
  src/app/shared/app.const.ts
Due: eslint, prettier --write, tsc-files --noEmit

fix: added minor changes
  src/app/shared/app.const.ts
Due: eslint, prettier --write, tsc-files --noEmit

refactor: removed all server related code
  angular.json
  package-lock.json
  package.json
  server.ts
  src/app/core/app.config.server.ts
  src/main.server.ts
  tsconfig.app.json
Due: eslint, prettier --write, tsc-files --noEmit

fix: added some minor fixes
  src/app/modules/file-name-panel/file/file.component.html
  src/app/modules/icon-panel/icon-panel.component.html
Due: eslint, prettier --write

build: removed server builds
  angular.json
  package.json
Due: eslint, prettier --write

fix: added json fix
  angular.json
  package-lock.json
Due: eslint, prettier --write

fix: added vercel
  package-lock.json
  package.json
Due: eslint, prettier --write

fix: updated lock json file
  package-lock.json
Due: eslint, prettier --write

fix: minor component position change
  src/app/shared/componentImports/file-panel-component.const.ts
  src/app/shared/services/shared.service.ts
Due: eslint, prettier --write, tsc-files --noEmit

refactor: remove comparison condition
  src/app/shared/services/shared.service.ts
Due: eslint, prettier --write, tsc-files --noEmit

Path conditions:
  eslint: any of: **/*.{js,ts,html,json,md}
  stylelint: any of: **/*.{css,scss}
  prettier --write: any of: **/*.{js,ts,html,css,md,json,sh}
  tsc-files --noEmit: any of: **/*.ts
